# ide and system
.DS_Store
.idea/
.vscode
.gitmodules
.prettierrc

# python and django
*__pycache__*
*.pyc

db.sqlite3
locale/ru/LC_MESSAGES/django.mo
locale/en/LC_MESSAGES/django.mo

# settings files
grc_backend/settings_local.py
# logs files
logs/*
libs/*
# enviroment setting
environment/local/postgres_data/
environment/local/es_data/
environment/develop/secrets/*

# celery
celeryev.pid
celerybeat-schedule
celerybeat.pid

# deploy script
./deploy.sh

